/* General Styles */
body {
  background-color: #111;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

header h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

header h2 {
  font-size: 24px;
  margin-top: 5px;
}

button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}

/* Form Styles */
form {
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  margin-top: 30px;
}

form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #333;
  color: white;
  border: 1px solid #444;
}

form button {
  width: 100%;
  padding: 15px;
  background-color: #555;
  font-size: 18px;
}

form button:hover {
  background-color: #666;
}
